{#<div style="height:1200px;">#}
{#<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"/>#}
{#{% if widget.is_initial %}{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.required %}#}
{#<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" />#}
{#<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>{% endif %}<br />#}
{#{{ widget.input_text }}:{% endif %}#}
<input type="{{ widget.type }}" class="dropify" data-max-file-size="1M" data-show-remove="false"
       data-allowed-file-extensions="png jpeg jpg gif bmp"
       {% if widget.is_initial %}data-default-file="{{ widget.value.url }}" {% endif %}
       name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
{#</div>#}
<script type="text/javascript">

</script>
